body{
    zoom: 0.9;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    color:#edf0f1; 
    font-family:"Montserrat", sans-serif;
    
}

p +button, button+button{
    color:#eee;
}
.generatecontainer{
    display:grid;
    grid-template-columns: repeat(3,500px);
    margin-left:13em;
    min-width: 100em;
    max-width: 10em;;
    margin-top:5em;
    height:60px;
}
.buttoncontainer{
    display:grid;
    grid-template-columns: repeat(9,1fr);
    margin-left:13em;
    min-width: 100em;
    max-width: 10em;;
    margin-top:5em;
}

#array{
    display: grid;
    grid-template-columns: repeat(50,30px);
    height:500px;
    grid-gap: 5px;;
    margin-left: 20px;
    margin-top:100px;
    transform: scaleY(-1);
    justify-content: center;
    
}

.item{
    background-color: #FF6464;
    color:#eee;
    transform: scaleY(-1);
    text-align: center;
    transition:0.1s ease-in-out;
}
#speed{
    transform: rotateY(180deg);
}

/*3D84A8
//46CDCF
//ABEDD8
*/

@keyframes color {
    0%{
        color:#3D84A8;
    }
    25%{
        color:#46CDCF;
    }
    50%{
        color: #ABEDD8;
    }
    75%{
        color:#46CDCF;
    }
    100%{
        color:#3D84A8;
    }
}

b{
    font-size: 30px;
    font-family:"Montserrat", sans-serif;
    font-weight: 600;
    color: #edf0f1;
    cursor: pointer;
    margin-right: auto;
    animation: color 5s ease-in-out infinite;
    
}

header + h2, div+ h2{
    margin-left:9em;
    margin-top:1em;
    margin-bottom:-2em;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 6em 12em 0 12em;
    gap: 30px;
    height: 39vh;
    justify-content: space-around;
}
.item{
    background-color: #2f3037;
    border-radius: 10px;
    box-shadow: 4px -4px 4px 4px rgba(255, 255, 255, 0.2);   
    position:relative;
    top:0;
    transition: 0.2s ease-in-out;
    
}

.item:hover{
    top:-10px;
    animation: up 0.5s ease-in;
    cursor: pointer;
}
img{
    margin-top:2em;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:40%;
    height:auto;
}
@keyframes up{
    from{
         opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.item h2{
    display: flex;
    background-color: #2f3037;
    padding-top:10px;
    justify-content: center;
    text-align: center;
    
    
}

.item p,  .item img{
    display: flex;
    background-color: #2f3037;
    padding: 20px;
    justify-content: center;
    text-align: center;
}


.nav__links{
    list-style: none;
}
.nav__links li{
    display:inline-block;
    padding: 0px, 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color:rgba(21, 183, 185, 1);
}

li ~ li{
    padding-left:40px;
}

button{
    padding:9px 25px;
    background-color: rgba(21, 183, 185, 1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left:10px;
}
button:hover{
    background-color: rgba(21, 183, 185, 0.8);
    
}
button:disabled{
    background-color: rgba(21, 183, 185, 0.5);
}

li, a, button{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    padding: 30px 10%;
}

#sortedAsc, #sortedDesc{
    display:none;;
}

#reset, .none{
    padding:9px 25px;
    background-color: rgba(252, 79, 79, 1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left:10px;
}
#reset:hover, .none:hover{
    background-color: rgba(252, 79, 79, 0.8);
    
}
#reset:disabled, .none:disabled{
    background-color: rgba(252, 79, 79, 0.5);
}

